*, *:before, *:after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url(img/back.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	position: relative;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, #FFFFFF 20.24%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
}

