*, *:before, *:after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    background-image: url(img/back.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	position: relative;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, #FFFFFF 20.24%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
}

header {
    height: 8em;
    color: black;
    padding: 5%;
}

@media screen and (min-width: 1260px) {
    header {
        height: 7em;
    }
}

header nav {
    display: flex;
    justify-content: space-around;
}

header nav a {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    color: black;
}

@media screen and (max-width: 768px) {
    header nav a {
        font-size: 24px;
    }
}

a:active {
    text-decoration: none;
    border-bottom: 1.5px black solid;
}

.title {
    font-family: 'Merriweather', serif;
}

.title__heading {
    font-size: 32px;
    padding-bottom: 11px;
}

@media screen and (max-width: 768px) {
    .title__heading {
        font-size: 48px;
    }
}

@media screen and (min-width: 1260px) {
    .title__heading {
        font-size: 56px;
    }
}

.title__text {
    font-size: 18px;
    padding-bottom: 84px;
}

@media screen and (max-width: 768px) {
    .title__text {
        font-size: 32px;
    }
}

@media screen and (min-width: 1260px) {
    .title__text {
        font-size: 36px;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    height: 56px;
    margin-bottom: 20px;
    border: 0;
    padding: 15px;
    border-radius: 25px;
}

#addButton {
    width: 150px;
    height: 43px;
}

